<form #employeeForm="ngForm" (ngSubmit)="saveEmployee(employeeForm)">
  <div class="card">
    <div class="card-header bg-secondary">
      <h3 class="card-title"> Create Employee </h3>
    </div>

    <div class="card-body">
      <div class="form-group">
        <label for="fullName">Full Name</label>
        <input id="fullName" name="fullName" class="form-control" type="text" [(ngModel)]="fullName" />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" name="email" class="form-control" type="text" [(ngModel)]="email" />
      </div>
      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input id="phoneNumber" name="phoneNumber" class="form-control" type="text" [(ngModel)]="phoneNumber" />
      </div>

      <div class="form-group">
        <label>Contact Preference</label>
        <div class="form-control">
          <label class="radio-inline">
            <input id="email" name="contactPreference" value="email" type="radio" [(ngModel)]="contactPreference"  />
            Email
          </label>
          <label class="radio-inline">
            <input id="phone" name="contactPreference" value="phone" type="radio" [(ngModel)]="contactPreference"  />
            Phone
          </label>
        </div>
      </div>

      <div class="form-group">
          <label>Gender</label>
          <div class="form-control">
            <label class="radio-inline">
              <input id="male" name="gender" value="male" type="radio" [(ngModel)]="gender" />
              Male
            </label>
            <label class="radio-inline">
              <input id="female" name="gender" value="female" type="radio" [(ngModel)]="gender"  />
              Female
            </label>
          </div>
        </div>

        <div class="form-group">
          <div class="form-control">
            <label class="checkbox-inline">
              <input id="isActive" name="isActive" type="checkbox" [(ngModel)]="isActive" />
              Is Active
            </label>
          </div>
        </div>

        <div class="form-group">
            <label for="department">
             Department
            </label>
            <select id="department" class="form-control" name="department" [(ngModel)]="department">
              <option *ngFor="let dlist of departmentList" [value]="dlist.id">{{dlist.name}}</option>
            </select>
        </div>

      <footer>
        <button class="btn btn-primary" type="submit">Save</button>
      </footer>
    </div>
  </div>
</form>

form Validation: {{employeeForm.value | json }}